@using Microsoft.AspNetCore.Components.Authorization
@using Proyecto2.Frontend.Shared
@using System.Reflection

@namespace Proyecto2.Frontend
@layout MainLayout

<Router AppAssembly="@typeof(App).Assembly"
        AdditionalAssemblies="@_lazyAssemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Página no encontrada.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private Assembly[] _lazyAssemblies = new[]
    {
        Assembly.Load("Proyecto2.Autores")
    };
}
